body{
    background-color: rgba(255, 166, 0, 0.483);
    margin: 0%;
}
p{
    font-family: "Bangers";
    font-weight: 400;
    padding: 20px;
    font-size: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.585); 
}
p.saber{
    text-align: center;
}
h1{
    color: rgb(255, 89, 0);
    font-family: "Bangers";
    font-weight: 400;
}
li,h1{
    display: inline-block;
    width: 24%;
    margin-right: 4%;
    margin-left: 5%;
    text-align: center;
}
h2{
    text-align: center;
    color: rgb(255, 89, 0);
    font-family: "Bangers";
    font-weight: 400;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.585); 
}
li{
    font-family: "Gorditas", serif;
    font-weight: 100; 
}
li:hover{
    background-color:  rgba(255, 98, 0, 0.923) ;
    color: azure;
    transform: scale(1.2);
    height: 6%;
}
article img{
    float: right;
    width: 30%;        
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.585); 
}
article{
    margin: 3%;
}
table {
    width: 100%;
    border-collapse: collapse; 
    margin: 20px 0;
    background: white;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.585);
}
caption {
    font-weight: bold;
    font-size: 22px;
    padding: 10px;
    background-color: #f5b94a;  
    color: white;
}
th, td {
    border: 1px solid #ddd; 
    padding: 12px 15px;
}
th {
    background-color: #fff6e0;
    text-align: left;
    width: 60%; 
}
td {
    background-color: #ffffff;
}
a{
    color: rgb(255, 89, 0);
}
