body{
    background-color: rgba(255, 166, 0, 0.483);
    margin: 0%;
}
p{
    font-family: "Bangers";
    font-weight: 400;
}
.titulo {
    font-family: "Bangers";
    font-size: 32px;
    color: rgb(255, 89, 0);
    text-decoration: underline rgb(255, 89, 0);
    flex-grow: 1;
    text-align: center;
}
nav ol {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px 0;
    margin: 0;
}
nav ol li {
    font-family: "Gorditas", serif;
    font-weight: 100;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 8px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ol li:hover {
    background-color: rgba(255, 98, 0, 0.9);
    color: white;
    transform: scale(1.05); 
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
article img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}
article {
    background: white;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
    transition: 0.3s;
    width: 30%;
    box-sizing: border-box;
    align-items: stretch;
}
article:hover {
    transform: scale(1.03);
}
footer {
    background-color: rgb(255, 140, 0);
    padding: 20px 0;
    margin-top: 40px;
    box-shadow: 0 -3px 8px rgba(0,0,0,0.3);
}
footer ol {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0;
    margin: 0;
}
footer ol li {
    list-style: none;
    font-family: "Gorditas", serif;
    font-weight: 100;
    color: white;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 8px;
    transition: 0.3s;
}
footer ol li:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}
/*-----------------------------------------------------------------*/

/* Medias querys 700px */ 
@media (max-width: 768px) {
    article {
        width: 45%;
    }
    article img {
        height: 260px;
    }
    .titulo {
        font-family: "Bangers";
        font-size: 32px;
        color: rgb(255, 89, 0);
        text-decoration: underline rgb(255, 89, 0);
        text-align: center;
        text-shadow: 3px 3px 5px rgba(0,0,0,0.4);
    }
}

/* Medias querys 480px */ 
@media (max-width: 480px) {
    nav ol {
        flex-direction: column;
        gap: 10px;
    }
    nav ol li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    section {
        flex-direction: column;
        align-items: center;
    }
    article {
        width: 90%;
    }
    article img {
        height: 220px;
    }
}
