body{
    background-color: rgba(255, 166, 0, 0.483);
    margin: 0%;
}
p{
    font-family: "Bangers";
    font-weight: 400;
}
h1{
    color: rgb(255, 89, 0);
    font-family: "Bangers";
    font-weight: 400;
    text-decoration: underline  rgb(255, 89, 0); ;
}
li,h1{
    display: inline-block;
    width: 24%;
    margin-right: 4%;
    margin-left: 5%;
    text-align: center;
    
}
li{
    font-family: "Gorditas", serif;
    font-weight: 100; 
}
section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-items: center; 
    padding: 20px;
}
article img {
    width: 100%;        
    height: 550px;      
    object-fit: cover;  
    display: block;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.585);  
}
article {
    text-align: center;
    color: orange;
    background: white;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
a{
    color: rgb(255, 89, 0);
}
